<header>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/site/index.html"><span class="show-for-small-only">{{ site.data[site.subdomain].nickname }}</span><span
                class="show-for-medium-up">{{ site.data[site.subdomain].name }}</span></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">Right Button Active</a></li>
        <li class="has-dropdown">
          <a href="#">Right Button Dropdown</a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul>
    </section>
  </nav>
</header>


<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <!-- Group site name and menu toggle button -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#global-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% comment %} shorten to nickname for xs {% endcomment %}
        <a class="navbar-brand" href="/"><span
                class="visible-xs">{{ site.data[page.subdomain].nickname }}</span><span
                class="hidden-xs">{{ site.data[page.subdomain].name }}</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="global-nav">
        <!-- left -->
        <ul class="nav navbar-nav">
          <li><a href="{{ site.data[page.subdomain].url }}">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <!-- right -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">More blogs<span class="hidden-xs"> by {{ site.owner.firstname }}</span><b
                    class="caret"></b></a>
            {% comment %} iterate over subdomains to create links to other blogs {% endcomment %}
            <ul class="dropdown-menu">
              {% for subdomain in site.data %}
              {% comment %} include subdomains that are a blog {% endcomment %}
              {% if subdomain[0] != page.subdomain and subdomain[1].blog %}
              <li><a href="{{ subdomain.url }}"><span
                      class="visible-xs">{{ subdomain[1].nickname }}</span><span
                      class="hidden-xs">{{ subdomain[1].name }}</span></a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>