# set the default behavior in case core.autocrlf has not been set
* text=auto

# declare files that require LF line endings on checkout even on Windows
*.sh text eol=lf
.ruby-version text eol=lf
.ruby-gemset text eol=lf
.nvmrc text eol=lf

# declare files that are truly binary and should not be modified
*.png binary
*.jpg binary
