<head>
  <meta charset="{{ site.encoding }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  {% if page.author %}
  <meta name="author" content="{{ page.author }}{% if page.twitter %} (@{{ page.twitter }}){% endif %}">
  {% endif %}
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
  <link href="/css/style.css" rel="stylesheet">
  <script src="/js/modernizr.js"></script>
</head>
