<div class="contain-to-grid show-for-medium-up">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">{{ site.name }}</a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="/about/">About</a></li>
      </ul>
    </section>
  </nav>
</div>

<nav class="tab-bar show-for-small">
  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>
  <section class="middle tab-bar-section">
    <h1>{{ site.name }}</h1>
  </section>
</nav>

<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
</aside>
