<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    {% include nav.html %}
    {% include header.html %}

    <div class="row">

      <main class="large-9 columns">
        {{ content }}
      </main>

      <aside class="large-3 columns">
        {% include sidenav.html %}
      </aside>
    </div>

    {% include footer.html %}

    <a class="exit-off-canvas"></a>
  </div>
</div>

{% include scripts.html %}
{% include analytics.html %}

</body>
</html>
